In [2]:
import csv
import numpy as np
import pandas as pd
import gc
gc.collect()
reader = csv.reader(open("./meetup_sane.csv"), delimiter=",")
meetup = list(reader) 
mp = meetup[1:]
meetup_df = pd.DataFrame(mp, columns=meetup[0])

In [ ]:
# Vaishnavi's code, not able to mak 
#
#
#
#data = pd.read_csv('C:/Users/Vaishnavi Kannan/Documents/SubFeatures2.csv')
# test_data = pd.read_csv('C:/Users/Vaishnavi Kannan/Desktop/test_data.csv')
# test=test_data.drop('c', axis=1)

# from pgmpy.models import BayesianModel
# test_data

# model = BayesianModel()

# model.add_nodes_from(['f1', 'f2', 'f3','f4','f5','f6','f7','f8','f9','c'])

# model.add_edges_from([('f6','c'),('f7','c'),('f8','c')])

# from pgmpy.estimators import MaximumLikelihoodEstimator
# mle = MaximumLikelihoodEstimator(model, data)
# print(mle.estimate_cpd('f8'))
# print(mle.estimate_cpd('c'))
# print(mle.estimate_cpd('f7'))
# print(mle.estimate_cpd('f6'))
# cpd_data = pd.read_csv('C:/Users/Vaishnavi Kannan/Desktop/cpd_data.csv')

# len(test)

# cpd_data = pd.read_csv('C:/Users/Vaishnavi Kannan/Desktop/cpd_data.csv')
# for i in range(len(test)):
#     a=test.iloc[i,0]
#     b=test.iloc[i,1]
#     c=test.iloc[i,2]
#     #print(a,b,c)
#     ans_d=cpd_data[(cpd_data['f6']==a) & (cpd_data['f7'] == b) & (cpd_data['f8'] == c)]
#     #print(ans_d)
#     anss=ans_d['class_final']
#     #print(anss)
#     ansi=int(anss)
#     print(i, ansi)
#     with open("C:/Users/Vaishnavi Kannan/Desktop/pgm_Results.csv", "a+") as myfile:
#         myfile.write(str(ansi))
#         myfile.write("\n")
#     myfile.close()
    
# results = pd.read_csv('C:/Users/Vaishnavi Kannan/Desktop/pgm_Results.csv')
# results
# count=0
# for i in range(len(results)):
#     print("i:",i)
#     print(results.iloc[i,0])    
#     print(test_data.iloc[i,3])
#     print("---------------")
#     if(results.iloc[i,0]!=test_data.iloc[i,3]):
#         count=count+1
#     accuracy=1-count/len(results)
# count
# accuracy

In [3]:
data = pd.DataFrame(data={'A': [0, 0, 1], 'B': [0, 1, 0], 'C': [1, 1, 0]})

In [74]:
reduced_df = meetup_df.drop(['member_id', 'bio', 'group_id', 'group_name','visibility','fee_amount', 'event_description', 'venue_rating_count', 'event_description', 'venue_name', 'event_name', 'organizer_id', 'group_description'], axis=1)
reduced_df

,category_name,join_mode,members_count,group_rating,event_id,duration,fee_accepts,fee.required,yes_rsvp_count,venue_id,venue_rating
0,book clubs,open,350,4.66,240554090,10800,cash,0,20,11898,3.79
1,book clubs,open,350,4.66,243502242,10800,cash,0,17,11898,3.79
2,book clubs,open,350,4.66,243502265,10800,cash,0,17,11898,3.79
3,book clubs,open,350,4.66,243502290,10800,cash,0,15,11898,3.79
4,book clubs,open,350,4.66,243502311,10800,cash,0,14,11898,3.79
5,book clubs,open,350,4.66,240554090,10800,cash,0,20,11898,3.79
6,book clubs,open,350,4.66,243502242,10800,cash,0,17,11898,3.79
7,book clubs,open,350,4.66,243502265,10800,cash,0,17,11898,3.79
8,book clubs,open,350,4.66,243502290,10800,cash,0,15,11898,3.79
9,book clubs,open,350,4.66,243502311,10800,cash,0,14,11898,3.79
10,book clubs,open,350,4.66,240554090,10800,cash,0,20,11898,3.79
11,book clubs,open,350,4.66,243502242,10800,cash,0,17,11898,3.79
12,book clubs,open,350,4.66,243502265,10800,cash,0,17,11898,3.79
13,book clubs,open,350,4.66,243502290,10800,cash,0,15,11898,3.79
14,book clubs,open,350,4.66,243502311,10800,cash,0,14,11898,3.79
15,book clubs,open,350,4.66,240554090,10800,cash,0,20,11898,3.79
16,book clubs,open,350,4.66,243502242,10800,cash,0,17,11898,3.79
17,book clubs,open,350,4.66,243502265,10800,cash,0,17,11898,3.79
18,book clubs,open,350,4.66,243502290,10800,cash,0,15,11898,3.79
19,book clubs,open,350,4.66,243502311,10800,cash,0,14,11898,3.79
20,book clubs,open,350,4.66,240554090,10800,cash,0,20,11898,3.79
21,book clubs,open,350,4.66,243502242,10800,cash,0,17,11898,3.79
22,book clubs,open,350,4.66,243502265,10800,cash,0,17,11898,3.79
23,book clubs,open,350,4.66,243502290,10800,cash,0,15,11898,3.79
24,book clubs,open,350,4.66,243502311,10800,cash,0,14,11898,3.79
25,book clubs,open,350,4.66,240554090,10800,cash,0,20,11898,3.79
26,book clubs,open,350,4.66,243502242,10800,cash,0,17,11898,3.79
27,book clubs,open,350,4.66,243502265,10800,cash,0,17,11898,3.79
28,book clubs,open,350,4.66,243502290,10800,cash,0,15,11898,3.79
29,book clubs,open,350,4.66,243502311,10800,cash,0,14,11898,3.79
...,...,...,...,...,...,...,...,...,...,...,...
37645,career/business,open,383,4.92,zmtkhnywpbwb,10800,others,0,11,24928450,3.25
37646,career/business,open,383,4.92,zmtkhnywqbtb,10800,others,0,11,24928450,3.25
37647,career/business,open,383,4.92,zmtkhnyxcbzb,10800,others,0,11,24928450,3.25
37648,career/business,open,383,4.92,zmtkhnyxdbvb,10800,others,0,11,24928450,3.25
37649,career/business,open,383,4.92,zmtkhnyxfbvb,10800,others,0,11,24928450,3.25
37650,career/business,open,383,4.92,zmtkhnyxgbbc,10800,others,0,11,24928450,3.25
37651,career/business,open,383,4.92,zmtkhnyxhbxb,10800,others,0,11,24928450,3.25
37652,career/business,open,383,4.92,zmtkhnyxjbtb,10800,others,0,11,24928450,3.25
37653,career/business,open,383,4.92,zmtkhnyxkbbc,10800,others,0,11,24928450,3.25
37654,career/business,open,383,4.92,zmtkhnyxlbwb,10800,others,0,11,24928450,3.25
37655,career/business,open,383,4.92,zmtkhnyxmbcc,10800,others,0,11,24928450,3.25
37656,career/business,open,383,4.92,zmtkhnyxnbzb,10800,others,0,11,24928450,3.25
37657,career/business,open,383,4.92,zmtkhnywpbwb,10800,others,0,11,24928450,3.25
37658,career/business,open,383,4.92,zmtkhnywqbtb,10800,others,0,11,24928450,3.25
37659,career/business,open,383,4.92,zmtkhnyxcbzb,10800,others,0,11,24928450,3.25
37660,career/business,open,383,4.92,zmtkhnyxdbvb,10800,others,0,11,24928450,3.25
37661,career/business,open,383,4.92,zmtkhnyxfbvb,10800,others,0,11,24928450,3.25
37662,career/business,open,383,4.92,zmtkhnyxgbbc,10800,others,0,11,24928450,3.25
37663,career/business,open,383,4.92,zmtkhnyxhbxb,10800,others,0,11,24928450,3.25
37664,career/business,open,383,4.92,zmtkhnyxjbtb,10800,others,0,11,24928450,3.25
37665,career/business,open,383,4.92,zmtkhnyxkbbc,10800,others,0,11,24928450,3.25
37666,career/business,open,383,4.92,zmtkhnyxlbwb,10800,others,0,11,24928450,3.25
37667,career/business,open,383,4.92,zmtkhnyxmbcc,10800,others,0,11,24928450,3.25
37668,career/business,open,383,4.92,zmtkhnyxnbzb,10800,others,0,11,24928450,3.25
37669,career/business,open,1883,4.81,zsvmklywnbxb,10800,others,0,197,25479139,2.5
37670,career/business,open,1883,4.81,zsvmklywqbbc,10800,others,0,10,25479139,2.5
37671,career/business,open,1883,4.81,zsvmklywnbxb,10800,others,0,197,25479139,2.5
37672,career/business,open,1883,4.81,zsvmklywqbbc,10800,others,0,10,25479139,2.5
37673,career/business,open,1883,4.81,zsvmklywnbxb,10800,others,0,197,25479139,2.5
37674,career/business,open,1883,4.81,zsvmklywqbbc,10800,others,0,10,25479139,2.5

In [109]:
features = [['category_name'],['join_mode'],['members_count'],['group_rating'],['duration'],['fee_accepts'],['fee_required'],['yes_rsvp'],['venue_id'],['venue_rating'],['event_id']  ]
features

[['category_name'],
 ['join_mode'],
 ['members_count'],
 ['group_rating'],
 ['duration'],
 ['fee_accepts'],
 ['fee_required'],
 ['yes_rsvp'],
 ['venue_id'],
 ['venue_rating'],
 ['event_id']]

In [110]:
from collections import OrderedDict
f1 = OrderedDict()
f1[reduced_df['category_name'][0]] = 1 
f1

OrderedDict([('book clubs', 1)])

In [111]:
def populate_feature_array(column, order_dict, feat_arr, key):
    for x in column:
        if x in order_dict:
            feat_arr[key].append(order_dict[x])
        else:
            lst_key = list(order_dict.keys())[-1]
            val = order_dict[lst_key] + 1 
            feat_arr[key].append(val)
            order_dict[x] = val
            
    return feat_arr

In [112]:
features = populate_feature_array(reduced_df['category_name'], f1, features, 0)

In [113]:
f2 = OrderedDict()
f2[reduced_df['join_mode'][0]] = 1 
features = populate_feature_array(reduced_df['join_mode'], f2, features, 1)

In [114]:
f3 = OrderedDict()
f3[reduced_df['duration'][0]] = 1 
features = populate_feature_array(reduced_df['duration'], f3, features, 4)

In [115]:
f4 = OrderedDict()
f4[reduced_df['fee_accepts'][0]] = 1 
features = populate_feature_array(reduced_df['fee_accepts'], f4, features, 5)

In [116]:
f5 = OrderedDict()
f5[reduced_df['fee.required'][0]] = 1 
features = populate_feature_array(reduced_df['fee.required'], f5, features, 6)

In [117]:
f6 = OrderedDict()
f6[reduced_df['yes_rsvp_count'][0]] = 1 
features = populate_feature_array(reduced_df['yes_rsvp_count'], f6, features, 7)

In [118]:
f7 = OrderedDict()
f7[reduced_df['venue_id'][0]] = 1 
features = populate_feature_array(reduced_df['venue_id'], f7, features, 8)

In [119]:
f8 = OrderedDict()
f8[reduced_df['members_count'][0]] = 1 
features = populate_feature_array(reduced_df['members_count'], f8, features, 2)

In [120]:
f9 = OrderedDict()
f9[reduced_df['group_rating'][0]] = 1 
features = populate_feature_array(reduced_df['group_rating'], f9, features, 3)

In [121]:
f10 = OrderedDict()
f10[reduced_df['venue_rating'][0]] = 1 
features = populate_feature_array(reduced_df['venue_rating'], f10, features, 9)

In [122]:
f11 = OrderedDict()
f11[reduced_df['event_id'][0]] = 1 
features = populate_feature_array(reduced_df['event_id'], f11, features, 10)

(10,)

In [129]:
from pgmpy.models import BayesianModel

meetup_model = BayesianModel([('category_name', 'join_mode'), 
                              ('join_mode', 'fee_accepts'),
                              ('join_mode', 'fee_required'),
                              ('venue_id', 'yes_rsvp'),
                              ('yes_rsvp', 'group_rating'),
                              ('members_count', 'fee_required'),
                              ('members_count', 'group_rating'),
                             ('group_rating', 'venue_rating'),
                             ('venue_rating', 'event_id'),
                             ('group_rating', 'event_id'),
                             ('duration', 'event_id')])

In [124]:
meetup_model

In [131]:
data_for_bn = pd.DataFrame(data={features[0][0]: features[0][1:],
                         features[1][0]: features[1][1:],
                          features[2][0]: features[2][1:],
                          features[3][0]: features[3][1:],
                          features[4][0]: features[4][1:],
                          features[5][0]: features[5][1:],
                          features[6][0]: features[6][1:],
                          features[7][0]: features[7][1:],
                          features[8][0]: features[8][1:],
                          features[9][0]: features[9][1:],
                          features[10][0]: features[10][1:]    
                         })
data_for_bn
#Entire anbove data is causing memory problem
reduced_data = data_for_bn[0:2000][:]

In [ ]:
meetup_model.fit(reduced_data)

In [ ]:
model.get_cpds()
#TO DO : 
# store cpd in list of get_cpd of above 
# 
#
#
#
#
# Bhumika's code :
# [9:08 PM, 3/20/2018] Bhumika Khatwani Ub Cs: 

#and_model.fit(train)
# a=and_model.get_cpds()
# and_model.check_model()
# :: store each feature cpd :: 
# f1_cpd = a[0].get_values()
# f2_cpd = a[1].get_values()
# f3_cpd = a[2].get_values()
# f4_cpd = a[3].get_values()
# f5_cpd = a[4].get_values()
# f6_cpd = a[5].get_values()
# f7_cpd = a[6].get_values()
# f8_cpd = a[7].get_values()
# f9_cpd = a[8].get_values()


# [9:08 PM, 3/20/2018] Bhumika Khatwani Ub Cs: 
# 
# calculate joint probability   for same event id and different event id. 
# given two image if jp of same is more than different hence classified. 
#def cal_prob():
#     cal1 = f1_cpd[image3[0]][image3[3]*vcard[6] + image3[6]]
#     cal2 = f2_cpd[image3[1]][image3[0]*vcard[5] + image3[5]]
#     cal3 = f3_cpd[image3[2]][image3[5]]
#     cal4 = f4_cpd[image3[3]][image3[2]*vcard[5] + image3[5]]
#     cal5 = f5_cpd[image3[4]][image3[1]*vcard[7] +image3[7]]
#     cal6 = f6_cpd[image3[5]]
#     cal7 = f7_cpd[image3[6]][image3[3]*vcard[7] + image3[7]]
#     cal8 = f8_cpd[image3[7]][image3[2]]
#     cal9 = f9_cpd[image3[8]][image3[4]*vcard[6] + image3[6]]
#     joint_prob = cal1*cal2*cal3*cal4*cal5*cal6*cal7*cal8*cal9
#     return joint_prob
#
#