In [146]:
import csv
import numpy as np
import pandas as pd
import gc
gc.collect()
df = pd.read_csv("meetup_sane.csv", encoding='utf-8')
df.head()

,member_id,bio,group_id,group_name,group_description,category_name,join_mode,members_count,group_rating,visibility,...,event_description,duration,fee_accepts,fee_amount,fee.required,yes_rsvp_count,venue_id,venue_name,venue_rating,venue_rating_count
0,81896,Why not?,1687797,The Far Northside Co-Ed Book Club,There are several book clubs out there but the...,book clubs,open,350,4.66,public,...,Hello all - The October book will be: Between ...,10800,cash,2.0,0,20,11898,Heartland Cafe,3.79,275.0
1,81896,Why not?,1687797,The Far Northside Co-Ed Book Club,There are several book clubs out there but the...,book clubs,open,350,4.66,public,...,"Hello all - As areminder, the November and Dec...",10800,cash,2.0,0,17,11898,Heartland Cafe,3.79,275.0
2,81896,Why not?,1687797,The Far Northside Co-Ed Book Club,There are several book clubs out there but the...,book clubs,open,350,4.66,public,...,Hello all - The January book will be: Lincoln ...,10800,cash,2.0,0,17,11898,Heartland Cafe,3.79,275.0
3,81896,Why not?,1687797,The Far Northside Co-Ed Book Club,There are several book clubs out there but the...,book clubs,open,350,4.66,public,...,Hello all - The February book will be: The Min...,10800,cash,2.0,0,15,11898,Heartland Cafe,3.79,275.0
4,81896,Why not?,1687797,The Far Northside Co-Ed Book Club,There are several book clubs out there but the...,book clubs,open,350,4.66,public,...,Hello all - The March book will be: Hag-Seed M...,10800,cash,2.0,0,14,11898,Heartland Cafe,3.79,275.0

In [170]:
def subtract(a,b=0):
    return a-b

In [165]:
subtract(3,5)

-2

In [148]:
data = pd.DataFrame(data={'A': [0, 0, 1], 'B': [0, 1, 0], 'C': [1, 1, 0]})

In [149]:
reduced_df = reader.drop(['member_id', 'bio', 'group_id', 'group_name','visibility','fee_amount', 'event_description', 'venue_rating_count', 'event_description', 'venue_name', 'event_name', 'organizer_id', 'group_description'], axis=1)
reduced_df.head()

,category_name,join_mode,members_count,group_rating,event_id,duration,fee_accepts,fee.required,yes_rsvp_count,venue_id,venue_rating
0,book clubs,open,350,4.66,240554090,10800,cash,0,20,11898,3.79
1,book clubs,open,350,4.66,243502242,10800,cash,0,17,11898,3.79
2,book clubs,open,350,4.66,243502265,10800,cash,0,17,11898,3.79
3,book clubs,open,350,4.66,243502290,10800,cash,0,15,11898,3.79
4,book clubs,open,350,4.66,243502311,10800,cash,0,14,11898,3.79

In [173]:
#Subtract column values for each row
new_list=[]

In [174]:
for i in range(1,len(df)):
    new_list.append(df['members_count'].iloc[i]-df['members_count'].iloc[i-1])

In [175]:
len(new_list)

37674

In [176]:
#reduced_df['members_count'].rolling(window=2).apply(lambda x: x-x[0])

In [177]:
#series_dic={}
#for i in range(len(reduced_df)):
#    series_dic[i]=reduced_df['members_count']-reduced_df['members_count'].loc[i]
#len(series_dic.keys())
#new_df=pd.DataFrame(series_dic)

In [78]:
features = [['category_name'],['join_mode'],['members_count'],['group_rating'],['duration'],['fee_accepts'],['fee_required'],['yes_rsvp'],['venue_id'],['venue_rating'],['event_id']  ]
features

[['category_name'],
 ['join_mode'],
 ['members_count'],
 ['group_rating'],
 ['duration'],
 ['fee_accepts'],
 ['fee_required'],
 ['yes_rsvp'],
 ['venue_id'],
 ['venue_rating'],
 ['event_id']]

In [79]:
from collections import OrderedDict
f1 = OrderedDict()
f1[reduced_df['category_name'][0]] = 1 
f1

OrderedDict([('book clubs', 1)])

In [80]:
def populate_feature_array(column, order_dict, feat_arr, key):
    for x in column:
        if x in order_dict:
            feat_arr[key].append(order_dict[x])
        else:
            lst_key = list(order_dict.keys())[-1]
            val = order_dict[lst_key] + 1 
            feat_arr[key].append(val)
            order_dict[x] = val
            
    return feat_arr

In [81]:
features = populate_feature_array(reduced_df['category_name'], f1, features, 0)

In [82]:
f2 = OrderedDict()
f2[reduced_df['join_mode'][0]] = 1 
features = populate_feature_array(reduced_df['join_mode'], f2, features, 1)

In [83]:
f3 = OrderedDict()
f3[reduced_df['duration'][0]] = 1 
features = populate_feature_array(reduced_df['duration'], f3, features, 4)

In [84]:
f4 = OrderedDict()
f4[reduced_df['fee_accepts'][0]] = 1 
features = populate_feature_array(reduced_df['fee_accepts'], f4, features, 5)

In [85]:
f5 = OrderedDict()
f5[reduced_df['fee.required'][0]] = 1 
features = populate_feature_array(reduced_df['fee.required'], f5, features, 6)

In [86]:
f6 = OrderedDict()
f6[reduced_df['yes_rsvp_count'][0]] = 1 
features = populate_feature_array(reduced_df['yes_rsvp_count'], f6, features, 7)

In [87]:
f7 = OrderedDict()
f7[reduced_df['venue_id'][0]] = 1 
features = populate_feature_array(reduced_df['venue_id'], f7, features, 8)

In [88]:
f8 = OrderedDict()
f8[reduced_df['members_count'][0]] = 1 
features = populate_feature_array(reduced_df['members_count'], f8, features, 2)

In [89]:
f9 = OrderedDict()
f9[reduced_df['group_rating'][0]] = 1 
features = populate_feature_array(reduced_df['group_rating'], f9, features, 3)

In [90]:
f10 = OrderedDict()
f10[reduced_df['venue_rating'][0]] = 1 
features = populate_feature_array(reduced_df['venue_rating'], f10, features, 9)

In [91]:
f11 = OrderedDict()
f11[reduced_df['event_id'][0]] = 1 
features = populate_feature_array(reduced_df['event_id'], f11, features, 10)

In [96]:
reduced_df.to_csv('feature_input.csv', index=False, header=True)

In [97]:
from pgmpy.models import BayesianModel

meetup_model = BayesianModel([('category_name', 'join_mode'), 
                              ('join_mode', 'fee_accepts'),
                              ('join_mode', 'fee_required'),
                              ('venue_id', 'yes_rsvp'),
                              ('yes_rsvp', 'group_rating'),
                              ('members_count', 'fee_required'),
                              ('members_count', 'group_rating'),
                             ('group_rating', 'venue_rating'),
                             ('venue_rating', 'event_id'),
                             ('group_rating', 'event_id'),
                             ('duration', 'event_id')])

In [98]:
data_for_bn = pd.DataFrame(data={features[0][0]: features[0][1:],
                         features[1][0]: features[1][1:],
                          features[2][0]: features[2][1:],
                          features[3][0]: features[3][1:],
                          features[4][0]: features[4][1:],
                          features[5][0]: features[5][1:],
                          features[6][0]: features[6][1:],
                          features[7][0]: features[7][1:],
                          features[8][0]: features[8][1:],
                          features[9][0]: features[9][1:],
                          features[10][0]: features[10][1:]    
                         })
data_for_bn
#Entire anbove data is causing memory problem
reduced_data = data_for_bn[0:2000][:]

In [99]:
meetup_model.fit(reduced_data)

In [143]:
mp_cpds = meetup_model.get_cpds()
mp_cpds

[<TabularCPD representing P(category_name:3) at 0x1a165d1c50>,
 <TabularCPD representing P(duration:15) at 0x1a14e0be10>,
 <TabularCPD representing P(event_id:159 | duration:15, group_rating:51, venue_rating:42) at 0x1a1d8860d0>,
 <TabularCPD representing P(fee_accepts:4 | join_mode:2) at 0x1a1d886510>,
 <TabularCPD representing P(fee_required:2 | join_mode:2, members_count:91) at 0x109d48250>,
 <TabularCPD representing P(group_rating:51 | members_count:91, yes_rsvp:47) at 0x109c96890>,
 <TabularCPD representing P(join_mode:2 | category_name:3) at 0x1a1dd93650>,
 <TabularCPD representing P(members_count:91) at 0x1a14e0bc10>,
 <TabularCPD representing P(venue_id:80) at 0x1a14e0b310>,
 <TabularCPD representing P(venue_rating:42 | group_rating:51) at 0x1a1d8863d0>,
 <TabularCPD representing P(yes_rsvp:47 | venue_id:80) at 0x10f7e2c50>]

In [144]:
meetup_model.check_model()

True

In [145]:
#Calculating cpds for each feature
mp1_cpd = mp_cpds[0].get_values()
mp2_cpd = mp_cpds[1].get_values()
mp3_cpd = mp_cpds[2].get_values()
mp4_cpd = mp_cpds[3].get_values()
mp5_cpd = mp_cpds[4].get_values()
mp6_cpd = mp_cpds[5].get_values()
mp7_cpd = mp_cpds[6].get_values()
mp8_cpd = mp_cpds[7].get_values()
mp9_cpd = mp_cpds[8].get_values()
mp10_cpd = mp_cpds[9].get_values()
mp11_cpd = mp_cpds[10].get_values()