In [2]:
import csv
import numpy as np
import pandas as pd
import gc
gc.collect()
reader = csv.reader(open("./meetup_sane.csv"), delimiter=",")
meetup = list(reader) 
mp = meetup[1:]
meetup_df = pd.DataFrame(mp, columns=meetup[0])

In [ ]:
# Vaishnavi's code, not able to make much sense out of this ... but ok..  
#
#
#
#data = pd.read_csv('C:/Users/Vaishnavi Kannan/Documents/SubFeatures2.csv')
# test_data = pd.read_csv('C:/Users/Vaishnavi Kannan/Desktop/test_data.csv')
# test=test_data.drop('c', axis=1)

# from pgmpy.models import BayesianModel
# test_data

# model = BayesianModel()

# model.add_nodes_from(['f1', 'f2', 'f3','f4','f5','f6','f7','f8','f9','c'])

# model.add_edges_from([('f6','c'),('f7','c'),('f8','c')])

# from pgmpy.estimators import MaximumLikelihoodEstimator
# mle = MaximumLikelihoodEstimator(model, data)
# print(mle.estimate_cpd('f8'))
# print(mle.estimate_cpd('c'))
# print(mle.estimate_cpd('f7'))
# print(mle.estimate_cpd('f6'))
# cpd_data = pd.read_csv('C:/Users/Vaishnavi Kannan/Desktop/cpd_data.csv')

# len(test)

# cpd_data = pd.read_csv('C:/Users/Vaishnavi Kannan/Desktop/cpd_data.csv')
# for i in range(len(test)):
#     a=test.iloc[i,0]
#     b=test.iloc[i,1]
#     c=test.iloc[i,2]
#     #print(a,b,c)
#     ans_d=cpd_data[(cpd_data['f6']==a) & (cpd_data['f7'] == b) & (cpd_data['f8'] == c)]
#     #print(ans_d)
#     anss=ans_d['class_final']
#     #print(anss)
#     ansi=int(anss)
#     print(i, ansi)
#     with open("C:/Users/Vaishnavi Kannan/Desktop/pgm_Results.csv", "a+") as myfile:
#         myfile.write(str(ansi))
#         myfile.write("\n")
#     myfile.close()
    
# results = pd.read_csv('C:/Users/Vaishnavi Kannan/Desktop/pgm_Results.csv')
# results
# count=0
# for i in range(len(results)):
#     print("i:",i)
#     print(results.iloc[i,0])    
#     print(test_data.iloc[i,3])
#     print("---------------")
#     if(results.iloc[i,0]!=test_data.iloc[i,3]):
#         count=count+1
#     accuracy=1-count/len(results)
# count
# accuracy

In [173]:
reduced_df = meetup_df.drop([ 'bio', 'group_id', 'group_name','visibility','fee_amount', 'event_description', 'venue_rating_count', 'event_description', 'venue_name', 'event_name', 'organizer_id', 'group_description'], axis=1)
reduced_df = reduced_df[0:1200]
reduced_df

,member_id,category_name,join_mode,members_count,group_rating,event_id,duration,fee_accepts,fee.required,yes_rsvp_count,venue_id,venue_rating
0,81896,book clubs,open,350,4.66,240554090,10800,cash,0,20,11898,3.79
1,81896,book clubs,open,350,4.66,243502242,10800,cash,0,17,11898,3.79
2,81896,book clubs,open,350,4.66,243502265,10800,cash,0,17,11898,3.79
3,81896,book clubs,open,350,4.66,243502290,10800,cash,0,15,11898,3.79
4,81896,book clubs,open,350,4.66,243502311,10800,cash,0,14,11898,3.79
5,250609,book clubs,open,350,4.66,240554090,10800,cash,0,20,11898,3.79
6,250609,book clubs,open,350,4.66,243502242,10800,cash,0,17,11898,3.79
7,250609,book clubs,open,350,4.66,243502265,10800,cash,0,17,11898,3.79
8,250609,book clubs,open,350,4.66,243502290,10800,cash,0,15,11898,3.79
9,250609,book clubs,open,350,4.66,243502311,10800,cash,0,14,11898,3.79
10,444819,book clubs,open,350,4.66,240554090,10800,cash,0,20,11898,3.79
11,444819,book clubs,open,350,4.66,243502242,10800,cash,0,17,11898,3.79
12,444819,book clubs,open,350,4.66,243502265,10800,cash,0,17,11898,3.79
13,444819,book clubs,open,350,4.66,243502290,10800,cash,0,15,11898,3.79
14,444819,book clubs,open,350,4.66,243502311,10800,cash,0,14,11898,3.79
15,486530,book clubs,open,350,4.66,240554090,10800,cash,0,20,11898,3.79
16,486530,book clubs,open,350,4.66,243502242,10800,cash,0,17,11898,3.79
17,486530,book clubs,open,350,4.66,243502265,10800,cash,0,17,11898,3.79
18,486530,book clubs,open,350,4.66,243502290,10800,cash,0,15,11898,3.79
19,486530,book clubs,open,350,4.66,243502311,10800,cash,0,14,11898,3.79
20,546487,book clubs,open,350,4.66,240554090,10800,cash,0,20,11898,3.79
21,546487,book clubs,open,350,4.66,243502242,10800,cash,0,17,11898,3.79
22,546487,book clubs,open,350,4.66,243502265,10800,cash,0,17,11898,3.79
23,546487,book clubs,open,350,4.66,243502290,10800,cash,0,15,11898,3.79
24,546487,book clubs,open,350,4.66,243502311,10800,cash,0,14,11898,3.79
25,2219120,book clubs,open,350,4.66,240554090,10800,cash,0,20,11898,3.79
26,2219120,book clubs,open,350,4.66,243502242,10800,cash,0,17,11898,3.79
27,2219120,book clubs,open,350,4.66,243502265,10800,cash,0,17,11898,3.79
28,2219120,book clubs,open,350,4.66,243502290,10800,cash,0,15,11898,3.79
29,2219120,book clubs,open,350,4.66,243502311,10800,cash,0,14,11898,3.79
...,...,...,...,...,...,...,...,...,...,...,...,...
1170,1098440,career/business,open,1066,4.42,243666241,14400,others,0,3,24776027,0
1171,1248555,career/business,open,1210,4.17,243666026,14400,others,0,1,24776027,0
1172,1274684,career/business,open,774,4.54,243667693,14400,others,0,1,24776027,0
1173,1274684,career/business,open,2036,4.21,243666228,14400,others,0,1,24776027,0
1174,1281071,career/business,open,1544,4.88,243667666,14400,others,0,1,24776027,0
1175,1341858,career/business,open,1544,4.88,243667666,14400,others,0,1,24776027,0
1176,1387500,career/business,open,2036,4.21,243666228,14400,others,0,1,24776027,0
1177,1387500,career/business,open,1867,4.22,243666133,14400,others,0,1,24776027,0
1178,1418715,career/business,open,2950,4.76,243666038,14400,others,0,2,24776027,0
1179,1490283,career/business,open,1426,4.33,243666243,14400,others,0,1,24776027,0
1180,1490283,career/business,open,1248,4.68,243666232,14400,others,0,1,24776027,0
1181,1510805,career/business,open,2036,4.21,243666228,14400,others,0,1,24776027,0
1182,1536117,career/business,open,838,4.69,243666236,14400,others,0,3,24776027,0
1183,1536117,career/business,open,2718,4.54,243666126,14400,others,0,1,24776027,0
1184,1537445,career/business,open,1210,4.17,243666026,14400,others,0,1,24776027,0
1185,1559135,career/business,open,1248,4.68,243666232,14400,others,0,1,24776027,0
1186,1597206,career/business,open,1711,4.67,243666141,14400,others,0,1,24776027,0
1187,1603648,career/business,open,2033,2.83,243666240,14400,others,0,1,24776027,0
1188,1671282,career/business,open,915,4,243667689,14400,others,0,1,24776027,0
1189,1693546,career/business,open,1248,4.68,243666232,14400,others,0,1,24776027,0
1190,1711996,career/business,open,838,4.69,243666236,14400,others,0,3,24776027,0
1191,1711996,career/business,open,2718,4.54,243666126,14400,others,0,1,24776027,0
1192,1760818,career/business,open,1210,4.17,243666026,14400,others,0,1,24776027,0
1193,1791749,career/business,open,1544,4.88,243667666,14400,others,0,1,24776027,0
1194,1807608,career/business,open,745,4.73,243666281,14400,others,0,2,24776027,0
1195,1820293,career/business,open,1711,4.67,243666141,14400,others,0,1,24776027,0
1196,1855079,career/business,open,570,4.42,243666115,14400,others,0,1,24776027,0
1197,1857633,career/business,open,1558,4.1,243666138,14400,others,0,2,24776027,0
1198,1891561,career/business,open,774,4.54,243667693,14400,others,0,1,24776027,0
1199,1891608,career/business,open,1248,4.68,243666232,14400,others,0,1,24776027,0

In [174]:
features = [['category_name'],['join_mode'],['members_count'],['group_rating'],['duration'],['fee_accepts'],['fee_required'],['yes_rsvp'],['venue_id'],['venue_rating'],['event_id'],['member_id']  ]
features

[['category_name'],
 ['join_mode'],
 ['members_count'],
 ['group_rating'],
 ['duration'],
 ['fee_accepts'],
 ['fee_required'],
 ['yes_rsvp'],
 ['venue_id'],
 ['venue_rating'],
 ['event_id'],
 ['member_id']]

In [175]:
from collections import OrderedDict
f1 = OrderedDict()
f1[reduced_df['category_name'][0]] = 1 
f1

OrderedDict([('book clubs', 1)])

In [176]:
def populate_feature_array(column, order_dict, feat_arr, key):
    for x in column:
        if x in order_dict:
            feat_arr[key].append(order_dict[x])
        else:
            lst_key = list(order_dict.keys())[-1]
            val = order_dict[lst_key] + 1 
            feat_arr[key].append(val)
            order_dict[x] = val
            
    return feat_arr

In [177]:
features = populate_feature_array(reduced_df['category_name'], f1, features, 0)

In [178]:
f2 = OrderedDict()
f2[reduced_df['join_mode'][0]] = 1 
features = populate_feature_array(reduced_df['join_mode'], f2, features, 1)

In [179]:
f3 = OrderedDict()
f3[reduced_df['duration'][0]] = 1 
features = populate_feature_array(reduced_df['duration'], f3, features, 4)

In [180]:
f4 = OrderedDict()
f4[reduced_df['fee_accepts'][0]] = 1 
features = populate_feature_array(reduced_df['fee_accepts'], f4, features, 5)

In [181]:
f5 = OrderedDict()
f5[reduced_df['fee.required'][0]] = 1 
features = populate_feature_array(reduced_df['fee.required'], f5, features, 6)

In [182]:
f6 = OrderedDict()
f6[reduced_df['yes_rsvp_count'][0]] = 1 
features = populate_feature_array(reduced_df['yes_rsvp_count'], f6, features, 7)

In [183]:
f7 = OrderedDict()
f7[reduced_df['venue_id'][0]] = 1 
features = populate_feature_array(reduced_df['venue_id'], f7, features, 8)

In [184]:
f8 = OrderedDict()
f8[reduced_df['members_count'][0]] = 1 
features = populate_feature_array(reduced_df['members_count'], f8, features, 2)

In [185]:
f9 = OrderedDict()
f9[reduced_df['group_rating'][0]] = 1 
features = populate_feature_array(reduced_df['group_rating'], f9, features, 3)

In [186]:
f10 = OrderedDict()
f10[reduced_df['venue_rating'][0]] = 1 
features = populate_feature_array(reduced_df['venue_rating'], f10, features, 9)

In [187]:
f11 = OrderedDict()
f11[reduced_df['event_id'][0]] = 1 
features = populate_feature_array(reduced_df['event_id'], f11, features, 10)

In [188]:
f12 = OrderedDict()
f12[reduced_df['member_id'][0]] = 1 
features = populate_feature_array(reduced_df['member_id'], f12, features, 11)

In [189]:
features_df = pd.DataFrame(features).T 
features_df

,0,1,2,3,4,5,6,7,8,9,10,11
0,category_name,join_mode,members_count,group_rating,duration,fee_accepts,fee_required,yes_rsvp,venue_id,venue_rating,event_id,member_id
1,1,1,1,1,1,1,1,1,1,1,1,1
2,1,1,1,1,1,1,1,2,1,1,2,1
3,1,1,1,1,1,1,1,2,1,1,3,1
4,1,1,1,1,1,1,1,3,1,1,4,1
5,1,1,1,1,1,1,1,4,1,1,5,1
6,1,1,1,1,1,1,1,1,1,1,1,2
7,1,1,1,1,1,1,1,2,1,1,2,2
8,1,1,1,1,1,1,1,2,1,1,3,2
9,1,1,1,1,1,1,1,3,1,1,4,2
10,1,1,1,1,1,1,1,4,1,1,5,2
11,1,1,1,1,1,1,1,1,1,1,1,3
12,1,1,1,1,1,1,1,2,1,1,2,3
13,1,1,1,1,1,1,1,2,1,1,3,3
14,1,1,1,1,1,1,1,3,1,1,4,3
15,1,1,1,1,1,1,1,4,1,1,5,3
16,1,1,1,1,1,1,1,1,1,1,1,4
17,1,1,1,1,1,1,1,2,1,1,2,4
18,1,1,1,1,1,1,1,2,1,1,3,4
19,1,1,1,1,1,1,1,3,1,1,4,4
20,1,1,1,1,1,1,1,4,1,1,5,4
21,1,1,1,1,1,1,1,1,1,1,1,5
22,1,1,1,1,1,1,1,2,1,1,2,5
23,1,1,1,1,1,1,1,2,1,1,3,5
24,1,1,1,1,1,1,1,3,1,1,4,5
25,1,1,1,1,1,1,1,4,1,1,5,5
26,1,1,1,1,1,1,1,1,1,1,1,6
27,1,1,1,1,1,1,1,2,1,1,2,6
28,1,1,1,1,1,1,1,2,1,1,3,6
29,1,1,1,1,1,1,1,3,1,1,4,6
...,...,...,...,...,...,...,...,...,...,...,...,...
1171,3,1,47,35,6,2,1,9,47,13,87,267
1172,3,1,39,29,6,2,1,5,47,13,79,644
1173,3,1,37,27,6,2,1,5,47,13,77,270
1174,3,1,50,36,6,2,1,5,47,13,90,270
1175,3,1,36,19,6,2,1,5,47,13,76,645
1176,3,1,36,19,6,2,1,5,47,13,76,646
1177,3,1,50,36,6,2,1,5,47,13,90,275
1178,3,1,46,34,6,2,1,5,47,13,86,275
1179,3,1,51,10,6,2,1,8,47,13,91,547
1180,3,1,52,37,6,2,1,5,47,13,92,277
1181,3,1,45,33,6,2,1,5,47,13,85,277
1182,3,1,50,36,6,2,1,5,47,13,90,647
1183,3,1,53,38,6,2,1,9,47,13,93,648
1184,3,1,40,27,6,2,1,5,47,13,80,648
1185,3,1,39,29,6,2,1,5,47,13,79,649
1186,3,1,45,33,6,2,1,5,47,13,85,650
1187,3,1,49,6,6,2,1,5,47,13,89,279
1188,3,1,54,39,6,2,1,5,47,13,94,651
1189,3,1,55,40,6,2,1,5,47,13,95,484
1190,3,1,45,33,6,2,1,5,47,13,85,652
1191,3,1,53,38,6,2,1,9,47,13,93,653
1192,3,1,40,27,6,2,1,5,47,13,80,653
1193,3,1,39,29,6,2,1,5,47,13,79,654
1194,3,1,36,19,6,2,1,5,47,13,76,143
1195,3,1,41,30,6,2,1,8,47,13,81,655
1196,3,1,49,6,6,2,1,5,47,13,89,656
1197,3,1,48,35,6,2,1,5,47,13,88,657
1198,3,1,56,41,6,2,1,8,47,13,96,658
1199,3,1,37,27,6,2,1,5,47,13,77,283
1200,3,1,45,33,6,2,1,5,47,13,85,659

In [108]:
from pgmpy.models import BayesianModel

meetup_model = BayesianModel([('category_name', 'join_mode'), 
                              ('join_mode', 'fee_accepts'),
                              ('join_mode', 'fee_required'),
                              ('fee_accepts', 'duration'),
#                               ('fee_accepts', 'venue_rating'),
                              ('fee_required', 'duration'),
#                               ('fee_required', 'venue_rating'),
                              ('venue_id', 'yes_rsvp'),
                              ('yes_rsvp', 'group_rating'),
                              ('members_count', 'fee_required'),
                              ('members_count', 'group_rating'),
                             ('group_rating', 'venue_rating'),
                             ('venue_rating', 'event_id'),
                             ('group_rating', 'event_id')])

In [38]:
meetup_model

In [109]:
data_for_bn = pd.DataFrame(data={features[0][0]: features[0][1:],
                         features[1][0]: features[1][1:],
                          features[2][0]: features[2][1:],
                          features[3][0]: features[3][1:],
                          features[4][0]: features[4][1:],
                          features[5][0]: features[5][1:],
                          features[6][0]: features[6][1:],
                          features[7][0]: features[7][1:],
                          features[8][0]: features[8][1:],
                          features[9][0]: features[9][1:],
                          features[10][0]: features[10][1:]    
                         })

In [50]:
data_for_bn

,category_name,duration,event_id,fee_accepts,fee_required,group_rating,join_mode,members_count,venue_id,venue_rating,yes_rsvp
0,1,1,1,1,1,1,1,1,1,1,1
1,1,1,2,1,1,1,1,1,1,1,2
2,1,1,3,1,1,1,1,1,1,1,2
3,1,1,4,1,1,1,1,1,1,1,3
4,1,1,5,1,1,1,1,1,1,1,4
5,1,1,1,1,1,1,1,1,1,1,1
6,1,1,2,1,1,1,1,1,1,1,2
7,1,1,3,1,1,1,1,1,1,1,2
8,1,1,4,1,1,1,1,1,1,1,3
9,1,1,5,1,1,1,1,1,1,1,4
10,1,1,1,1,1,1,1,1,1,1,1
11,1,1,2,1,1,1,1,1,1,1,2
12,1,1,3,1,1,1,1,1,1,1,2
13,1,1,4,1,1,1,1,1,1,1,3
14,1,1,5,1,1,1,1,1,1,1,4
15,1,1,1,1,1,1,1,1,1,1,1
16,1,1,2,1,1,1,1,1,1,1,2
17,1,1,3,1,1,1,1,1,1,1,2
18,1,1,4,1,1,1,1,1,1,1,3
19,1,1,5,1,1,1,1,1,1,1,4
20,1,1,1,1,1,1,1,1,1,1,1
21,1,1,2,1,1,1,1,1,1,1,2
22,1,1,3,1,1,1,1,1,1,1,2
23,1,1,4,1,1,1,1,1,1,1,3
24,1,1,5,1,1,1,1,1,1,1,4
25,1,1,1,1,1,1,1,1,1,1,1
26,1,1,2,1,1,1,1,1,1,1,2
27,1,1,3,1,1,1,1,1,1,1,2
28,1,1,4,1,1,1,1,1,1,1,3
29,1,1,5,1,1,1,1,1,1,1,4
...,...,...,...,...,...,...,...,...,...,...,...
1170,3,6,87,2,1,35,1,47,47,13,9
1171,3,6,79,2,1,29,1,39,47,13,5
1172,3,6,77,2,1,27,1,37,47,13,5
1173,3,6,90,2,1,36,1,50,47,13,5
1174,3,6,76,2,1,19,1,36,47,13,5
1175,3,6,76,2,1,19,1,36,47,13,5
1176,3,6,90,2,1,36,1,50,47,13,5
1177,3,6,86,2,1,34,1,46,47,13,5
1178,3,6,91,2,1,10,1,51,47,13,8
1179,3,6,92,2,1,37,1,52,47,13,5
1180,3,6,85,2,1,33,1,45,47,13,5
1181,3,6,90,2,1,36,1,50,47,13,5
1182,3,6,93,2,1,38,1,53,47,13,9
1183,3,6,80,2,1,27,1,40,47,13,5
1184,3,6,79,2,1,29,1,39,47,13,5
1185,3,6,85,2,1,33,1,45,47,13,5
1186,3,6,89,2,1,6,1,49,47,13,5
1187,3,6,94,2,1,39,1,54,47,13,5
1188,3,6,95,2,1,40,1,55,47,13,5
1189,3,6,85,2,1,33,1,45,47,13,5
1190,3,6,93,2,1,38,1,53,47,13,9
1191,3,6,80,2,1,27,1,40,47,13,5
1192,3,6,79,2,1,29,1,39,47,13,5
1193,3,6,76,2,1,19,1,36,47,13,5
1194,3,6,81,2,1,30,1,41,47,13,8
1195,3,6,89,2,1,6,1,49,47,13,5
1196,3,6,88,2,1,35,1,48,47,13,5
1197,3,6,96,2,1,41,1,56,47,13,8
1198,3,6,77,2,1,27,1,37,47,13,5
1199,3,6,85,2,1,33,1,45,47,13,5

In [110]:
meetup_model.fit(data_for_bn)

In [52]:
final_cpd = meetup_model.get_cpds()

In [53]:

f1_cpd = np.asarray(final_cpd[0].get_values())
f2_cpd = np.asarray(final_cpd[1].get_values())
f3_cpd = np.asarray(final_cpd[2].get_values())
f4_cpd = np.asarray(final_cpd[3].get_values())
f5_cpd = np.asarray(final_cpd[4].get_values())
f6_cpd = np.asarray(final_cpd[5].get_values())
f7_cpd = np.asarray(final_cpd[6].get_values())
f8_cpd = np.asarray(final_cpd[7].get_values())
f9_cpd = np.asarray(final_cpd[8].get_values())
f10_cpd = np.asarray(final_cpd[9].get_values())
f11_cpd = np.asarray(final_cpd[10].get_values())


np.savetxt("f1.csv", f1_cpd, delimiter=",")
np.savetxt("f2.csv", f2_cpd, delimiter=",")
np.savetxt("f3.csv", f3_cpd, delimiter=",")
np.savetxt("f4.csv", f4_cpd, delimiter=",")
np.savetxt("f5.csv", f5_cpd, delimiter=",")
np.savetxt("f6.csv", f6_cpd, delimiter=",")
np.savetxt("f7.csv", f7_cpd, delimiter=",")
np.savetxt("f8.csv", f8_cpd, delimiter=",")
np.savetxt("f9.csv", f9_cpd, delimiter=",")
np.savetxt("f10.csv", f10_cpd, delimiter=",")
np.savetxt("f11.csv", f11_cpd, delimiter=",")

In [125]:
xsc = pd.DataFrame(meetup_model.get_cpds('event_id').get_values())
 
xsc.to_csv("joint_prob_event.csv", sep=',')

In [115]:
features_o = pd.DataFrame(features)

In [136]:
print(meetup_model.get_cpds('event_id').get_values())

[[ 0.2         0.01041667  0.01041667 ...,  0.01041667  0.01041667
   0.01041667]
 [ 0.2         0.01041667  0.01041667 ...,  0.01041667  0.01041667
   0.01041667]
 [ 0.2         0.01041667  0.01041667 ...,  0.01041667  0.01041667
   0.01041667]
 ...,
 [ 0.          0.01041667  0.01041667 ...,  0.01041667  0.01041667
   0.01041667]
 [ 0.          0.01041667  0.01041667 ...,  0.01041667  0.01041667
   0.01041667]
 [ 0.          0.01041667  0.01041667 ...,  0.01041667  0.01041667
   0.01041667]]

In [135]:
xsc.sum(axis=0)

0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
5       1.0
6       1.0
7       1.0
8       1.0
9       1.0
10      1.0
11      1.0
12      1.0
13      1.0
14      1.0
15      1.0
16      1.0
17      1.0
18      1.0
19      1.0
20      1.0
21      1.0
22      1.0
23      1.0
24      1.0
25      1.0
26      1.0
27      1.0
28      1.0
29      1.0
       ...
1405    1.0
1406    1.0
1407    1.0
1408    1.0
1409    1.0
1410    1.0
1411    1.0
1412    1.0
1413    1.0
1414    1.0
1415    1.0
1416    1.0
1417    1.0
1418    1.0
1419    1.0
1420    1.0
1421    1.0
1422    1.0
1423    1.0
1424    1.0
1425    1.0
1426    1.0
1427    1.0
1428    1.0
1429    1.0
1430    1.0
1431    1.0
1432    1.0
1433    1.0
1434    1.0
Length: 1435, dtype: float64

In [111]:
meetup_model.get_cpds('event_id')

In [123]:
for i in range len(xsc[0]):

Empty DataFrame
Columns: []
Index: []